@tailwind base;
@tailwind components;
@tailwind utilities;

.border-header{
	border-bottom: 1px solid rgb(231, 237, 246);
}

.border-user{
	border: 1px solid #bebebe;
}

.introduction{
	background-image: url('/assets/introduction.jpg');
	background-size: cover;
	background-position: 0;
}

.hosting{
	background-image: url('/assets/hosting.jpg');
	background-size: cover;
	background-position: 0;
}

.domains{
	background-image: url('/assets/domains.jpg');
	background-size: cover;
	background-position: 0;
}


.portfolio-home::-webkit-scrollbar{
    height: 6px;
    background-color: transparent;
}
.portfolio-home::-webkit-scrollbar-track{
    background-color: #ccc;
	border-radius: 5px;
}

.portfolio-home::-webkit-scrollbar-thumb{
    background-color: #252525;
    border-radius: 5px;
}