@tailwind base;
@tailwind components;
@tailwind utilities;

.border-header{
	border-bottom: 1px solid rgb(231, 237, 246);
}

.border-user{
	border: 1px solid #bebebe;
}

.bg-header{
	background-image: url('https://i.imgur.com/XrEQ6tf.png');
	background-repeat: no-repeat;
	background-size: 72%;
	background-position: 100%;
}

.bg-about-us{
	background-image: url('https://imgur.com/4em97og.png');
	background-repeat: no-repeat;
	background-size: 43%;
	background-position: 100%;
}

.bg-culture{
	background-image: url('https://imgur.com/nddEtk8.png');
	background-repeat: no-repeat;
	background-size: 45%;
	background-position-x: 106%;
	background-position-y: 250px;
}


.bg-stats{
	background-image: url('https://imgur.com/JEaIxVD.png');
	background-repeat: no-repeat;
	background-size: 13%;
	background-position-x: -2%;
	background-position-y: 150px;
}


.introduction{
	background-image: url('https://imgur.com/tiE6bYD.jpg');
	background-size: cover;
	background-position: 0;
}

.hosting{
	background-image: url('https://imgur.com/LbYeNLv.jpg');
	background-size: cover;
	background-position: 0;
}

.domains{
	background-image: url('https://imgur.com/gK73jqz.jpg');
	background-size: cover;
	background-position: 0;
}


.portfolio-home::-webkit-scrollbar{
    height: 6px;
    background-color: transparent;
}
.portfolio-home::-webkit-scrollbar-track{
    background-color: #ccc;
	border-radius: 5px;
}

.portfolio-home::-webkit-scrollbar-thumb{
    background-color: #2525257e;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .bg-header, .bg-stats, .bg-culture {
        background-image: none;
    }
}